*{
    margin: 0px;
    padding: 0px;
}
#body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
#cellphone{
    background-size: cover;
    height: 438px;
    width: 217px;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
#cellphone iframe{
    position: relative;
    top: 59px;
    left: 17px;
    width: 183px;
    height: 325px;
}
#social-media{
    text-align: right;
}
#social-media a{
    cursor: context-menu;
}
#social-media img{
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    box-sizing: border-box;
}
#social-media img:hover{
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 10px black ;
    transition: .2s;
    margin: 10px 15px 10px 0px;

}